body,html{
    width: 100%;
    height: 100%;
}
.home-page{
    width: 100%;
    height: 100%;
    position: relative;
    .carousel{
        width: 480px;
        height: 100%;
        // background: url('../../image/01-4.jpg') no-repeat center center;
        background: #eaeaea;
        background-size: 100%; 
        position: absolute;
        left: 0;
        top: 0;
    }
    .wrap{
        width: 100%;
        height: 100%;
        padding-left: 480px;
        overflow: hidden;
        .wrap-inner{
            width: 100%;
            height: 100%;
            overflow: hidden;
            overflow-y: scroll;
            .nav{
                height: 60px;
                line-height: 60px;
                padding-left: 25px;
                background: #fbfbfb;
            }
        }
        .content{
            background: #b1a47b;
            h3{
                font-size: 24px;
            }
            .catalog{
                padding: 20px 40px;
                .catalog-item{
                    height: 70px;
                    background: #fff;
                    border-radius: 6px;
                    box-shadow: 4px 4px 4px #234c5f;
                    margin-bottom: 40px;
                    position: relative;
                    .module-l{
                        width: 130px;
                        height: 30px;
                        background: #9ab17b;
                        border-radius: 6px;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                    }
                    .module-r{
                        height: 60px;
                        width: 85%;
                        background: #9ab17b;
                        border-radius: 6px;
                        position: absolute;
                        top: 5px;
                        left: 100px;
                    }
                    .module-t{
                        width: 30px;
                        height: 80%;
                        background: #fff;
                        position: absolute;
                        top: 5px;
                        left: 50px;
                        border: 1px solid #e0e0e0;
                        box-shadow: 2px 0 2px 0 #e0e0e0;
                        // box-shadow: -3px 0 2px #e0e0e0;
                        border-top: none;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}